# Predict Holdout
Author: Jaclyn Dwyer

<img src = 'https://www.racialequityalliance.org/wp-content/uploads/2016/10/assessors_social-1.jpg'>

This notebook is used to predict the king county housing prices from the holdout data using the prediction model created in the other notebook.

In [38]:
import pandas as pd
import numpy as np 

pd.set_option('display.max_columns', 300)

In [39]:
df = pd.read_csv('data/kc_house_data_test_features.csv')

In [40]:
df.head(2)

,Unnamed: 0,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,0,1974300020,20140827T000000,4,2.5,2270,11500,1.0,0,0,3,8,1540,730,1967,0,98034,47.7089,-122.241,2020,10918
1,1,1974300020,20150218T000000,4,2.5,2270,11500,1.0,0,0,3,8,1540,730,1967,0,98034,47.7089,-122.241,2020,10918

### Import Pickle Model

In [41]:
import pickle

In [42]:
infile = open("model.pickle",'rb')
model = pickle.load(infile)
infile.close()

In [43]:
print(model.intercept_)
print(len(model.coef_))

-295.37862902775527
106

In [44]:
infile = open("other_info.pickle",'rb')
other_info = pickle.load(infile)
infile.close()

In [45]:
df.describe()

,Unnamed: 0,id,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,4322.000000,4.322000e+03,4322.000000,4322.000000,4322.000000,4322.000000,4322.000000,4322.000000,4322.000000,4322.000000,4322.000000,4322.000000,4322.000000,4322.000000,4322.000000,4322.000000,4322.000000,4322.000000,4322.000000,4322.000000
mean,2161.493290,4.625710e+09,3.387552,2.322362,2183.685794,12483.624017,1.738894,0.006478,0.201296,3.248727,7.905368,1936.708237,246.977557,1985.562008,64.213559,98077.792689,47.560202,-122.209680,2032.044193,10787.661268
std,1247.809809,2.920630e+09,0.905875,0.781894,966.620774,36670.448359,0.586154,0.080237,0.711409,0.554717,1.166759,895.156629,408.585953,30.556960,352.311262,50.971393,0.133669,0.147595,728.033502,27418.372095
min,0.000000,3.600072e+06,0.000000,0.000000,290.000000,635.000000,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.185300,-122.505000,620.000000,651.000000
25%,1081.250000,2.125572e+09,3.000000,1.750000,1454.250000,3800.250000,1.000000,0.000000,0.000000,3.000000,7.000000,1248.500000,0.000000,1964.000000,0.000000,98033.000000,47.487400,-122.334000,1480.000000,4000.000000
50%,2161.500000,3.837351e+09,3.000000,2.500000,2000.000000,6000.000000,2.000000,0.000000,0.000000,3.000000,8.000000,1695.000000,0.000000,2002.500000,0.000000,98065.000000,47.567300,-122.230500,1870.000000,6000.000000
75%,3241.750000,7.504001e+09,4.000000,2.500000,2730.000000,9150.750000,2.000000,0.000000,0.000000,3.000000,9.000000,2520.000000,419.250000,2009.000000,0.000000,98117.000000,47.673375,-122.115000,2460.000000,9000.000000
max,4322.000000,9.895000e+09,10.000000,6.500000,8020.000000,871200.000000,3.500000,1.000000,4.000000,5.000000,13.000000,8020.000000,2810.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.364000,6210.000000,858132.000000

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4322 entries, 0 to 4321
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     4322 non-null   int64
 1   id             4322 non-null   int64
 2   date           4322 non-null   object
 3   bedrooms       4322 non-null   int64
 4   bathrooms      4322 non-null   float64
 5   sqft_living    4322 non-null   int64
 6   sqft_lot       4322 non-null   int64
 7   floors         4322 non-null   float64
 8   waterfront     4322 non-null   int64
 9   view           4322 non-null   int64
 10  condition      4322 non-null   int64
 11  grade          4322 non-null   int64
 12  sqft_above     4322 non-null   int64
 13  sqft_basement  4322 non-null   int64
 14  yr_built       4322 non-null   int64
 15  yr_renovated   4322 non-null   int64
 16  zipcode        4322 non-null   int64
 17  lat            4322 non-null   float64
 18  long           4322 non-null   float64
 19  sqft_living15  4322 non-null   int64
 20  sqft_lot15     4322 non-null   int64
dtypes: float64(4), int64(16), object(1)
memory usage: 709.2+ KB

In [47]:
df.isna().sum()

Unnamed: 0       0
id               0
date             0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

## Feature Engineer Holout Set

In [48]:
#drop Unamed:0 and id
df.drop(columns = ['Unnamed: 0', 'id'], axis = 1, inplace = True)

In [49]:
#add column that is present in previous set but no in holdout set
df['grade_3'] = 0

In [50]:
#change date to datetime
df['date'] = pd.to_datetime(df['date'])

#create month column
df['month'] = pd.DatetimeIndex(df['date']).month

#drop date column
df.drop(columns = ['date'], axis = 1, inplace = True)

In [51]:
#drop sqft_above
df.drop(columns = ['sqft_above'], axis = 1, inplace = True)

In [52]:
#change 33 to 3 but think can delete
df['bedrooms'].replace(to_replace = 33, value = 3, inplace = True)

In [53]:
#cap sqft_lot
df['sqft_lot']= np.where(df['sqft_lot'] > 1200000, 1200000, df['sqft_lot'])

In [54]:
#create grade and zipcode dummies
grade_dummies = pd.get_dummies(df['grade'], prefix='grade', drop_first=True)
zipcode_dummies = pd.get_dummies(df['zipcode'], prefix='zip', drop_first=True)

dfc = pd.concat([df, grade_dummies, zipcode_dummies], 
                   axis=1)

In [55]:
#create column for peak or no peak months
conditions = [((dfc['month'] <= 3) | (dfc['month'] >= 7)),
             ((dfc['month'] >=4) & (dfc['month'] <=6))]

choices = [('no_peak'), ('peak')]

dfc['peak_months'] = np.select(conditions, choices)

In [56]:
#dummy peak_months
dfc = pd.get_dummies(dfc, columns=['peak_months'], drop_first=True)

In [57]:
#Create column with estimated yard size
dfc['yard'] = dfc['sqft_lot'] - (dfc['sqft_living']/dfc['floors'])

In [58]:
#Create column for years since work dont
conditions = [(dfc['yr_renovated'] == 0),
             (dfc['yr_renovated'] != 0)]

choices = [(2021 - dfc['yr_built']), 
          (2021 - dfc['yr_renovated'])]

dfc['yrs_since_work'] = np.select(conditions, choices)

In [59]:
#Engineer s_n column
conditions = [(dfc['lat'] < 47.5),
             (dfc['lat'] >= 47.5)]

choice = [('south'), ('north')]

dfc['s_n'] = np.select(conditions, choice)

In [60]:
#dummy s_n
dfc = pd.get_dummies(dfc, columns=['s_n'], drop_first=True)

In [61]:
#save dfc to csv
dfc.to_csv('data/dfc_holdout')

In [62]:
#read in and rename
dfcpi = pd.read_csv('data/dfc_holdout')
dfcpi.drop(columns = 'Unnamed: 0', axis = 1, inplace = True)

In [63]:
#add polynomials and interactions
dfcpi['grade^2']= dfc['grade']*dfc['grade']
dfcpi['i_bed_bath'] = dfc['bedrooms']* dfc['bathrooms']
dfcpi['i_water_sqft_living'] = dfc['waterfront']*dfc['sqft_living']
dfcpi['i_water_zipcode'] = dfc['waterfront'] * dfc['zipcode']
dfcpi['i_view_zipcode'] = dfc['view'] * dfc['zipcode']
dfcpi['i_waterfront_grade'] = dfc['waterfront'] * dfc['grade']
dfcpi['i_grade_zipcode'] = dfc['grade'] * dfc['zipcode']

In [64]:
dfcpi.to_csv('data/dfcpi_holdout')

**Log Transformation**

In [65]:
ldfcpi = pd.read_csv('data/dfcpi_holdout')
ldfcpi.drop('Unnamed: 0', axis = 1, inplace = True)

In [66]:
log_columns = ['sqft_living', 'sqft_lot', 'sqft_living15', 'sqft_lot15']

In [67]:
for feat in log_columns:
    ldfcpi[feat] = ldfcpi[feat].map(lambda x: np.log(x))

# Predict the Holdout Set

In [68]:
final_columns = list(other_info[0])

In [69]:
len(final_columns)

106

In [70]:
final_answers_log = model.predict(ldfcpi[final_columns])

#NP.EXP ON FINAL ANSWERS BEFORE EXPORT

In [71]:
final_answers_exp = np.exp(final_answers_log)

In [72]:
final_answers_exp

array([527061.1096709 , 540206.57559486, 394842.72845961, ...,
       329417.91426818, 425173.87755598, 315972.36774561])

In [73]:
final_answers_df = pd.DataFrame(final_answers_exp)

In [74]:
final_answers_df.to_csv('data/housing_preds_jaclyn_dwyer.csv')